<h1>Welcome!</h1>
<div data-ng-show="authenticated">
	<p>You have logged in successfully.</p>
</div>
<div data-ng-show="!authenticated">

	<h3>Technology stack:</h3>
	<ul style="list-style-type: circle">
		<li>Spring Boot</li>
		<li>Angular 1.2</li>
		<li>Bootstrap (Theme)</li>
		<li>Spring JPA</li>
		<li>MySQL</li>
	</ul>
	<h3>Features:</h3>
	<ul style="list-style-type: circle">
		<li>Single Page application using Augular Route</li>
		<li>Login/Logout</li>
		<li>Rest Services Invocation</li>		
		<li>DB Search</li>
		<li>Simple CRUD</li>
	</ul>
</div>